.bettersassdocs {
  /* Hemisu Light */
  /* Original theme - http://noahfrederick.com/vim-color-scheme-hemisu/ */
  .pln {
    color: #111111;
  }

  .str {
    color: #739200;
  }

  .kwd {
    color: #739200;
  }

  .com {
    color: #999999;
  }

  .typ {
    color: #ff0055;
  }

  .lit {
    color: #538192;
  }

  .pun {
    color: #111111;
  }

  .opn {
    color: #111111;
  }

  .clo {
    color: #111111;
  }

  .tag {
    color: #111111;
  }

  .atn {
    color: #739200;
  }

  .atv {
    color: #ff0055;
  }

  .dec {
    color: #111111;
  }

  .var {
    color: #111111;
  }

  .fun {
    color: #538192;
  }

  // Inline and block code styles
  code,
  pre {
    padding: 0 3px 2px;
    font-family: Monaco, Andale Mono, Courier New, monospace;
    border-radius: 3px;
  }
  code {
    background-color: lighten($dawn-pink, 3%);
    color: rgba(0, 0, 0, .75);
    padding: 1px 3px;
  }
  pre {
    background-color: lighten($dawn-pink, 7%);
    display: block;
    padding: 1em;
    margin: 0 0 1.5em;
    line-height: 1.5em;
    font-size: 1em;
    border: 1px solid darken($dawn-pink, 4%);
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}
